body {
    background: url(../images/background.png);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

body * {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

airport {
    background-image: url(../images/airport0.png);
    width: 379px;
    height: 224px;
}

airportusername {
    font-family: 'Open Sans', sans-serif;
    color:white;
    -webkit-text-stroke: 0.5px black;
    font-size : 25px;
    left: 250px;
    top: 150px;
}

planeusername {
    font-family: 'Open Sans', sans-serif;
    color:white;
    -webkit-text-stroke: 0.5px black;
    font-size : 15px;
    left: 0px;
    top: -20px;
}

leftplane {
    background-image: url(../images/leftplane.png);
    width: 50px;
    height: 25px;
    z-index: 1;
}

rightplane {
    background-image: url(../images/rightplane.png);
    width: 50px;
    height: 25px;
    z-index: 1;
}

::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: transparent; /* Gecko Browsers */
}